// Lib import
@import "../dev/lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../dev/lib/components-font-awesome/scss/font-awesome";
@import "../dev/lib/flag-icon-css/sass/flag-icon";
// @import "../dev/lib/angular-material/angular-material";

// App import
@import "colors";
@import "fonts";
@import "utils";
@import "../dev/app/styles/main";
@import "../dev/app/menu/styles";
@import "../dev/app/items/styles";
@import "../dev/app/components/block/styles";
@import "../dev/app/components/tag/styles";
@import "../dev/app/components/item/styles";

/* Bug fix for autoprefixer */
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body, html, .app-container {
  min-height: 100%;
  height:100%;
  font-family: roboto;
}


