.admin-main-container {
  min-height: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.admin-app-title {
  font-size: 30px;
  padding: 30px 25px;
  font-family: 'Questrial', sans-serif;
}

.admin-menu {
  padding-right: 0;
  background-color: #2F4050;
  position: fixed;
  top: 0;
  width: 600px;


  ul {
    list-style: none outside none;
    padding: 0px 0 0 0px;
    background-color: #2F4050;
  }

  li.menu-item {
    border-left: 3px solid #2F4050;

    padding: 14px 20px 14px 25px;
    cursor: pointer;
    a {
      font-size: 15px;
      font-weight: 400;
      color: #A7B1C2;
      line-height: 20px;

      i {
        text-align: center;
        float: left;
        font-size: 18px;
        width: 40px;
      }
    }

    ul.submenu-container {
      padding-top: 10px;
      background-color: #293846;
    }

    li.submenu-item {
      padding: 0px 20px 5px 40px;
      a {
        font-size: 14px;
        font-weight: 300;
        color: #A7B1C2;
        line-height: 20px;
      }
      a:hover {
        color: #FFFFFF;
      }
    }
  }

  li.menu-item-selected {
    border-left: 3px solid #AAA;
    background-color: #293846;
    color: #FFFFFF;
    a {
      color: #FFFFFF;
    }
  }

  li:focus {
    outline: 0;
  }

  li:hover {
    background-color: #293846;
    a {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  li.menu-item-selected:hover {
    border-left: 3px solid #AAA;
    background-color: #293846;

  }

}

.right-panel {
  .admin-header {
    background-color: #293846;
    background-color: #DDDDDD;
    //background-color: #FFFFFF;
    //padding: 20px;
    //padding-left: 40px;
    border-bottom: 1px solid #293846;
    font-size: 14px;

    .logout-button {
      text-align: right;
    }
  }
  .admin-content {
    min-height: 100%;
    background-color: #ECECEC;
    padding-left: 50px;
    padding-right: 80px;
  }

  .page-title {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 0;
    color: #555;
  }
}


