<div class="container-fluid full-height">
    <div class="col-xs-4 col-xs-offset-4">
        <h1 style="font-size: 65px; margin: 300px 0 20px 5px">nuata</h1>
        <div class="input-group input-group-lg">
            <input ng-trim="true" ng-change="doSearch()" ng-keyup="keyPress($event)" ng-model="query"  type="text" class="form-control" placeholder="Search data">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true">
                </span></button>
            </span>

        </div>
        <div class="query-result" ng-show="value.isDisplayed">{{value.value | number : 0}} {{value.unit}}</div>
    </div>
</div>