.block {
  background-color: #fff;
  //border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);

  padding: 20px;

  .block-title {
    font-size: 17px;
  }

  margin-bottom: 10px;
}