.itemId {
  cursor: pointer;
}

.lang {
  //display: inline-block;
  max-height: 17px;
  margin-top: 10px;
  color: #337AB7;
  border: 1px solid #337AB7;
  border-radius: 3px;
  padding: 0 0px 2px 0px;
  text-align: center;
  min-width: 25px;
  font-size: 12px;
  line-height: 12px;
  margin-right: 8px;
}