<block>
    <div>
        <div layout="row">
            <div flex="80">
                <div style="font-weight: bold;">{{item.name}}</div>
                <div>{{doing}}</div>
                <div>{{status}} <span>(finished {{remaining}})</span></div>
            </div>
            <div ng-show="status === 'Running'" flex="auto" style="text-align: right;">
                <md-button ng-click="stop()">STOP</md-button>
            </div>
            <div ng-hide="status === 'Running'" flex="auto" style="text-align: right;">
                <md-button ng-click="remove()">Remove</md-button>
            </div>
        </div>
        <div ng-show="status !== 'Completed'">
            <md-progress-linear md-mode="determinate" value="{{100 * percentage}}"></md-progress-linear>
        </div>
    </div>
</block>